
.tec-events-carousel-editor {
	min-height: 200px;

	.tec-events-carousel__notice {
		border: 1px dashed rgba(255, 255, 255, 0.2);
		border-radius: 6px;
		margin: 0 3.5rem;
	}

	.tec-events-carousel__loading {
		margin: 0 3.5rem;
	}

	.tec-events-carousel__card {
		cursor: default;
	}
}
